html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
    margin-bottom: 200px;
}

.custom .glyphicon {
	font-size: 36px;
}

.book-today {
    color: cornflowerblue;
}

.grade-rocket {
    color: cadetblue;
}

.grade-bus {
    color: sandybrown;
}

#tutorsonline .glyphicon {
    color: coral;
}

.navbar {
    background-color: rgb(50,120,180);
}

.navbar a {
    color: #d8e6f3;
}

.navbar a:hover {
    color: #fff;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #204d74;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.nav-pills a:hover {
    color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #d8e6f3;
}

.quote {
    background-color: #444;
    color: #e1e1e1;
    margin: 2em 0;
}

blockquote {
    border: none;
}

container {
    max-width: 960px;
}

.well {
    background-color: transparent;
}

.btn-lg {
    padding: 10px 14px;
    margin-right: 12px;
}

.lead {
    color: #555;
}

.footer a {
    color: #639bcf;
}

.footer a:hover {
    color: #d8e6f3;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    color: #efefef;
    background-color: #333;
    padding: 20px 10px;
}

@media only screen and (max-width: 768px) {
    body {
        margin-bottom: 350px;
    }
    .footer {
        height: 350px;
    }
}

/* blog.html */

.about .fa-graduation-cap {
    font-size: 64px;
}

.posts h1 a {
    color: #444;
}

.postby {
    margin-bottom: 1em;
    color: #777;
}

.postby li {
    border-right: 1px solid #ddd;
}

.postby li:last-child {
    border-right: none;
}
